@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Playwrite+DK+Loopet:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f6f1;
  color: #3b2f2f;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

header {
  background-color: #5e3c2b;
  color: #fff;
  padding: 20px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.header-right {
  flex: 1;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.icons {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 10px;
  transition: color 0.3s;
  position: relative;
}

.icons:hover {
  color: #e1306c;
}

#cart-count {
  font-size: 0.5em;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  position: absolute;
  top: -5px;
  right: -10px;
}

.header-center {
  flex: 2;
  text-align: center;
}

.header-logo {
  height: 100px;
}

.header-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: 'Georgia', serif;
  letter-spacing: 1px;
  color: #fff;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: #ffe8d6;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-menu li a:hover {
  color: #fdd9a0;
}

main {
  flex: 1;
  padding: 20px 20px;
  margin: 0 30px 0 30px;
}

section {
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
}

section h2 {
  font-size: 2rem;
  color: #4a3b30;
  margin-bottom: 15px;
}

section p {
  font-size: 1.1rem;
  color: #5a4a3b;
}

footer {
  background-color: #3b2f2f;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

.menu-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

#search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

#search-input:focus {
  border-color: #5e351ad5;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu-filter {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

#price-sort {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

#price-sort:focus {
  border-color: #5e351ad5;
}

#price-sort option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

#price-sort:hover {
  border-color: #5e351ad5;
}

.menu-card {
  flex: 1 1 300px;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-card-content {
  flex-grow: 1;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.menu-card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #4a3b30;
}

.menu-card p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 10px;
}

.menu-card .price {
  font-weight: bold;
  color: #5e3c2b;
  margin-bottom: 10px;
}

.menu-card button {
  background-color: #5e3c2b;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.menu-card button:hover {
  background-color: #8b5e3c;
}

.btns-product {
  display: flex;
  gap: 10px;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.home-intro {
  font-size: 1.1rem;
  color: #5a4a3b;
  max-width: 800px;
  line-height: 1.7;
}

.home-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.home-flex img {
  flex: 1 1 40%;
  max-width: 350px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.home-text {
  flex: 2 1 300px;
}

.cute {
  font-family: "Playwrite DK Loopet", cursive;
  font-size: 60px;
}

.home-text p {
  margin-bottom: 15px;
  color: #4a3b30;
  font-size: 1rem;
}

.home-fullwidth-img {
  width: 100%;
  min-height: 20px;
  border-radius: 12px;
}

.nosotros-image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nosotros-img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  position: relative;
  background-color: #fff8f1;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
  max-width: 700px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: #5e3c2b;
  font-family: 'Segoe UI', sans-serif;
}

.modal-content h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.modal-content p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.modal-content img {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
  object-fit: cover;
}

.modal-content::after {
  content: "¡No te lo pierdas!";
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #c55300;
}

.close {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

#cart-empty {
  display: none;
  text-align: center;
  padding: 20px;
}

#login {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.login-container {
  gap: 20px;
  width: 70vh;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form input {
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  width: 100%;
  margin-bottom: 20px;
}

#login-form input:last-of-type {
  margin-bottom: 0;
}

#login-form input:focus {
  border-color: #5e351ad5;
}

#login-form button {
  padding: 12px;
  font-size: 1rem;
  background-color: #5e351a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  margin-top: 20px;
}

#login-form button:hover {
  background-color: #3f260f;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 10px;
}

#user-info button {
  background-color: #5e3c2b;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-form {
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.95rem;
  color: #333;
}

.app-form input,
.app-form textarea {
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-top: 5px;
}

.app-form textarea {
  resize: vertical;
  min-height: 80px;
}

.app-form input:focus,
.app-form textarea:focus {
  border-color: #5e351ad5;
}

.btn-submit {
  padding: 12px;
  font-size: 1rem;
  background-color: #5e351a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-submit:hover {
  background-color: #3f260f;
}

.btn-cancel {
  padding: 10px;
  font-size: 0.95rem;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-cancel:hover {
  background-color: #bbb;
}

.cart-total {
  text-align: end;
}

#total-amount {
  font-size: x-large;
  font-weight: bold;
}

.finalizar-btn {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #5e3c2b; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.finalizar-btn:hover {
  background-color: #352103;
}

.modal, .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-cart, .popup-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.modal-cart input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-cart button,
.popup-content button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#btn-nuevo-producto {
  background-color: #5e3c2b;  /* Violeta suave */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 15px 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#btn-nuevo-producto:hover {
  background-color: #352103;
  transform: scale(1.03);
}

#modal-nuevo-producto.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-new-product {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.modal-confirm {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-botones button {
  margin: 10px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-confirmar {
  background-color: #e74c3c;
  color: white;
}

#btn-cancelar, #btn-mensaje-ok {
  background-color: #ccc;
}

/* Animación de entrada */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

/* Botón cerrar (X) */
.modal-new-product .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  transition: color 0.2s ease;
}

.modal-new-product .close:hover {
  color: #000;
}

.modal-new-product form input,
.modal-new-product form textarea {
  width: 100%;
  padding: 10px 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  resize: none;
}

.modal-new-product form button[type="submit"] {
  width: 100%;
  background-color: #6c5ce7;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-new-product form button[type="submit"]:hover {
  background-color: #5a4bcf;
}

@media (max-width: 768px) {
  body {
    font-size: 17px;
    overflow-x: hidden;
  }

  main {
    padding: 10px;
    max-width: 100%;
  }

  #home {
    width: 95%;
  }

  header {
    padding: 5px 15px;
  }

  .header-container {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-left,
  .header-center,
  .header-right {
    flex: 1 1 auto;
    min-width: 0;
  }

  .header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }

  .header-center {
    text-align: center;
    flex-grow: 2;
  }

  .header-logo {
    height: 60px;
  }


  .nav-menu {
    gap: 15px;
    font-size: 14px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu-filter {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  #search-input,
  #price-sort {
    width: 90%;
  }

  .menu-grid {
    flex-direction: column;
    align-items: center;
  }

  .menu-card {
    width: 90%;
    max-width: none;
  }

  .nosotros-image {
    flex-direction: column;
    text-align: center;
  }

  .modal-content {
    padding: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p,
  .home-intro {
    font-size: 1.1rem;
  }
}